@media (max-width: 767px) {
    :root {
        --backround: #EFEFF1;
        --foreground: #FBFBFB;
        --border: #DEDDE2;
        --bg: #196319;
        --bg-content: #96E596;
        --bg-light: #238C23;
        --bg-dark: #0F3A0F;
        --secondary-color: #F9D73F;
        --tertiary-color: #D9DAD2;
        --accent-color: #374145;
        --neutral-color: #8B9B8C;
        --black: #111111;
        --white: #F5F5F5;
        --regular-font: 14px;
        --heading-font: 20px;
        --main-heading: 40px;
        --shadow: #64646F33 0px 7px 29px 0px;
        --radi: 10px;
    }
    .navbar img{
        width: 150px;
    }
    .hero-item img{
        height: 400px;
    }
    .hero-item figcaption{
        bottom: 100px;
        left: 20%;
    }
    .hero-item h4{
        font-size: var(--heading-font);
        margin-bottom: 20px;
    }
    .hero-item p{
        font-size: var(--regular-font);
        margin-bottom: 20px;
    }
    .hero-item button{
        font-size: var(--regular-font);
        padding: 15px;
    }
    .about img{
        height: 150px;
        width: 150px;
        margin-right: 30px;
    }
    .about p{
        font-size: var(--regular-font);
    }
}